nav.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 5vw;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
  .site-name {
    padding: 23px 25px 0px 0px;
    letter-spacing: -0.03em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $text-color
  }
  .links {
    display: flex;
    a {
      display: block;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      padding: 25px 25px 0px;
      height: 80px;
      color: gray;
      font-size: 0.9em;
      &:nth-child(1){
        &:hover {
          color: $green;
        }
      }
      &:nth-child(2){
        &:hover {
          color: $purple;
        }
      }
      &:nth-child(3){
        &:hover {
          color: $blue;
        }
      }
    }
  }
}